<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="">
    Multiply this:
  </label>
  <input id="" name="first_number" text="text">

  <label for="">
    by this:
  </label>
  <input id="" name="second_num" text="text">

  <button>
    Multiply!
  </button>
</form>
